<!doctype html>
<html>
<head>

</head>
<body>
<h1>Dashboard</h1>
<span>
    <button onclick="window.location.href = 'http://localhost:5000'">
    Index
    </button>
    <br>
</span>
<button style="margin: 1em" onclick="window.location.href = 'http://localhost:5000/worstcomponents'">
    5 Components with the highest fail rate
</button>
<br>
<button style="margin: 1em" onclick="window.location.href = 'http://localhost:5000/mostused'">
   5 of the most used components
</button>
<br>
<button style="margin: 1em" onclick="window.location.href = 'http://localhost:5000/worstmanufacturer'">
    3 worst manufacturers
</button>
<br>


</body>
</html>
